
body {
font: 1em sans-serif;
background-color: #fc9bcb;


}
.cabecalho{
    background-color: rgb(139, 137, 135);
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
.cabecalho__imagem {

    width: 130px;
    height: 160px;
    border-radius:  100px;
    
}
.cabecalho__menu{
    display: inline;
    justify-content: space-around;
    align-items: center;
}
display: inline;
    margin-left: 20px;
    font-size: 32px;
    
.cabecalho__menu-item{

    display: inline;
}
.cabecalho__titulo{

    display: inline;
    margin: left 20px;
    ;
}