
body {

background-color: #fc9bcb;


}

.cabecalho__imagem {

    width: 130px;
    height: 160px;
    border-radius:  100px;
    
}
.cabecalho__menu{
    display: inline;

}

.cabecalho__menu-item{

    display: inline;
}
.cabecalho__titulo{

    display: inline;
}